<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interaccion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Styles/interaccion.css" />
</head>
<body>
    <div id="sketchHolder"></div>
    
    <div class="camisa">
        <svg width="100%" height="100%">
            <circle data-parte="camisa__circulo" class="camisa__circulo" cx="100%" cy="100%" r="150" fill="blue" stroke="black" />
            <polygon data-parte="camisa__triangulo" class="camisa__triangulo" points="120,0 240,225 0,225" fill="green"/>
        </svg>
    </div>
    
    <div class="colores">
        <div id="colorsito" data-colorsito="red"></div>
        <div id="colorsito" data-colorsito="green"></div>
        <div id="colorsito" data-colorsito="blue"></div>
        <div id="colorsito" data-colorsito="orange"></div>
        <div id="colorsito" data-colorsito="purple"></div>
    </div>
</body>
    <script src="Scripts/interaccion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
    -->
    <script src="Scripts/librerias/p5.js"></script>
    <script src="Scripts/librerias/p5.dom.js"></script>
    <script src="Scripts/sketchInterac.js"></script>
</html>